#map-canvas {
  height: 100%;
  width:100%;
  margin: 0 0 100px 0;
  padding: 0px
}

#map-wrapper{
  min-width:320px;
  width:100%;
  height: 85%;
}

#back-to-top{
  position:fixed;
  bottom:0;
  right:0;
  width:48px;
  height:48px;
  background-image:url('icons/up-arrow.png');
  background-position:center center;
  background-repeat:no-repeat;
  background-size:100%;
}
