#options-wrapper{
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  height:0px;
  border-bottom:2px solid #777;
  background:rgba(215,200,200,0.7);
  z-index: 100;
}
  #options-wrapper.open{
    height:100%;
  }

  #options-wrapper #progress-bar{
    position:absolute;
    background:red;
    bottom:-2px;
    height:2px;
    left:0;
    width:0%;
  }

  #opt-inner-wrapper{
    width:320px;
    margin: 0 auto;
    overflow:hidden;
    height:100%;
    padding-top:30px;
  }
  #opt-inner-wrapper label{
    display:block;
  }

  #overlay-handle, #options-wrapper{
    -webkit-box-shadow: 0 0 10px 0 #0F0F0F;
    box-shadow: 0 0 10px 0 #0F0F0F;
  }

  #overlay-handle{
    position:absolute;
    bottom:-27px;
    right:50px;
    height:25px;
    width:41px;
    padding:3px 3px 6px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    border-bottom:2px solid #777;
    border-left:2px solid #777;
    border-right:2px solid #777;
    background:#eee;
  }
    #overlay-handle img{
      width:100%;
    }
    #options-wrapper.open #overlay-handle{
      bottom:0px;
      -webkit-border-radius: 3px 3px 0 0 ;
      border-radius:3px 3px 0 0 ;
      border-bottom:0;
      border-top:2px solid #777;
    }

    #panel > div{
      padding:5px 0 20px 0;
      width:100%;
    }
    #panel div input[type="text"],
    #panel div select{
      width:100%;
      border:0;
      line-height:30px;
    }
      #go{
        border:0;
        background:white;
        float:right;
      }

#map-canvas{
  margin-bottom:100px;
}

#map-wrapper{
  min-width:320px;
  width:100%;
}
