<div id="panel">

  <div>
    <label>Start</label>
    <input id="address" class="route" type="text" value="seattle"/>
  </div>

  <div>
    <label>Destination</label>
    <input id="address2" class="route" type="text" value="bellevue"/>
  </div>

  <div>
    <label>Keyword</label>
    <input type="text" class="places" name="keyword" id="keyword" value="fast food">
  </div>

  <div>
    <label>Search Distance (from route)</label>
    <select id="radius" class="places">
      <option value=".12">One Block</option>
      <option value=".25">1/4 mile</option>
      <option value=".5">1/2 mile</option>
      <option value="1">1 mile</option>
      <option value="2">2 miles</option>
      <option value="5">5 miles</option>
      <option value="10">10 miles</option>
    </select>
  </div>

  <div>
    <select id="place-type" class="places">
      <option value="restaurant">Restaurant</option>
      <option value="bank">Bank</option>
      <option value="lodging">Lodging</option>
      <option value="store">Store</option>
      <option value="gas_station">Gas Station</option>
      <option value="park">Park</option>
    </select>
  </div>

  <div>
    <input id="go" type="submit" value="Go!" />
  </div>

</div>
