<div id="progress-bar"></div>
<div id="back-to-top"></div>
<div id="map-wrapper"></div>

<div id="options-wrapper" class="open">
  <div id="opt-inner-wrapper"></div>
  <div id="overlay-handle"></div>
</div>

<div id="results-section">
  <ul></ul>
</div>
